body{
background-color: #cdb79e;
width: 25%;
height: auto;
position: relative;

font: sans-serif;
color: #000000;



}
p{

  font-size: 20px;
  font-family: verdana;
  text-align: center;
  width: 100%;
  height: auto;
}


form{
  margin-top: 5%;
  background: #556527;
  text-align: center;
  width: 250px;
  height: auto;

}
.textHere{
  margin-top: 20%;
  font-size: 25px;
  background-color: #556527;
  border-style: outset;
  border-color: #222222;
  border-width: 3px;
  padding: 5%;

  text-align: center;
}
input{
  margin-bottom: 5%;
  margin-top: 10%;
  width:
}

.button{
  position: relative;
  text-align: center;
  margin-bottom: 5%;
  width: 100px;
  height: 35px;
  font-family: cursive;
  font-size: 20px;


}
input:hover{
  border-color: #8d9a77;
  border-width: 2px;
  border-style: inset;
  box-shadow: 2px 2px 2px #000000;

}
